
/******* declare variables******/
#blue{
   height: 60px;  /*****adjust height to match****/
   width: 100px;
   background-color: blue;
}
#gray{
   height: 500px;
   width: 100%;
   background-color: gainsboro;
}
#row1{
   display: flex;
   gap: 50px;
   padding: 30px;
}
.col1{
   margin-top: 20px;
   height: 100px;
   width: 33.3%;
   background-color: white;
   border:1px, solid black;
}
.col3{
   margin-top: 20px;
   height: 100px;
   width: 25%;
   background-color: white;
   border:1px, solid black;
}
.col4{
   margin-top: 20px;
   height: 100px;
   width: 50%;
   background-color: white;
   border:1px, solid black;
}
.container{
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 50%;
   margin-top: 20px;
}
.adj1{
   height :45px;
   border: 1px solid black;
}
.adj2{
      height :45px;
      border: 1px solid black;
}
.col2{
   margin-top: 20px;
   height: 100px;
   width: 75%;
   flex-grow:1;
   background-color: white;
   border: 1px solid black;
}

@media (max-width:480px){
   row1{
      flex-direction: column;
      gap:0px;
      align-items:center;
   }
   .container{
      align-items: center;
   }
   .col1{ width: 50%;}
   .col2{
      width:100%;
   }
   .col3{ width: 100%;}
   .col4{ width: 100%;}
   .adj1{ width: 200%;}
   .adj2{ width: 200%;}
}
